.three{
    background-image: url("../images/h_img.jpg");
    background-size: cover;
    height: 700px;
    background-repeat: no-repeat;
    text-align: center;
    padding-top: 100px;
    line-height: 30px;
    margin-bottom: 0;
}
.three h1{
    font-size: 50px;
    color: white;
    line-height: 90px;
}



#logo{
    display: flex;
    align-items: center;
    justify-content: center;
}
#delani{
    justify-content: center;
    color: aliceblue;
}
.about{
    height: 500px;
}
 .about h2{
    text-align: center;
    padding-top: 300px;
    font-size: 30px;
    font-weight: bolder;
}
.about p{
    text-align: center;
    font-size: 15px;
    margin-left: 100px;
    margin-right: 100px;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
}
.services{
    padding-top: 100px;
    background-image: url(../images/s_image.jpg);
    height: 450px;
    width: 400;
    text-align: center;
    color: white;
    font-family: 'Nunito', sans-serif;
}
.services h3{
    padding-top: 100px;
    font-weight: bolder;
}
.services p{
    font-size: 20px;
}
.ourwork{
    background-size: 50px;
    
}
.ourwork h1{
    text-align: center !important;
    padding-top:30px;
    font-weight: bolder;
    font-size: 30px;
}
.ourwork h2{
    font-size: 20px;
}
.ourwork p{
    display: none;
}
.ourwork img,p{
    cursor: pointer;
}
.ourwork .row{
    display: flex;
    justify-content: space-between;
    margin-right: 100px;
    margin-left: 100px;
    margin-top: 100px;
}
#head2{
    margin-right: 15px;
}
#one{
    margin-left:15px;
}
#head3{
    margin-right: 10px
}
.ip {
    text-align: center;
    font-size: 30px;
    font-weight: bolder;
    margin-top: 50px;
}
.ip .row{
    display: flex;
    justify-content: space-around;
    margin-right: 100px;
    margin-left:100px;
}
.ip img{
    display: block;
}
.ip p{
    font-family: 'Farro', sans-serif;
    text-align: center;
    display: none;
    position: absolute;
    font-size: 40px;
    padding-top: 80px;
    padding-left: 40px;
  
  }
  .contact{
    background-image: url("../images/c_image.jpg");
    height:500px;
    margin-top: 100px;
    margin-left: 0;
    background-size: cover;

}
.contact h2{
    text-align: center;
    padding-top: 60px;
    padding-bottom: 0;
    color:white;
}
.contact input,textarea{
    background: none;
   
}
::placeholder{
    color: white;
}
.contact textarea{
    margin-left: 300px;
    margin-top: 20px;
}
input{
    margin-left:300px;
    margin-top: 40px;
}